.login{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
    flex-direction: column;
    margin-top: 40px;
}

.login form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:30px;
    margin-top:20px;

}
.login input{
    width: 400px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
}


.login button{
    background-color: rgb(75, 15, 131);
    color: white;
    font-weight: bold;
    width: 400px;
    height: 50px;
    margin-top: 10px;
    border-radius: 30px;
}
.warning{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.signup button{
    position: relative;
    top:96px;
    background-color: rgb(75, 15, 131);
    color: white;
    font-weight: bold;
    width: 400px;
    height: 50px;
    border-radius: 30px;
}

.login p{
    position: relative;
    top:60px;
}