*{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 15px; */
    font-weight: 1000px;
    font-size: 30px;
    /* font-style: oblique; */
    background-color: black;
    width: 100%;
}

.header  ul li {
    display: inline-block;
    padding: 16px;
    margin:15px;
     text-decoration: none;
     /* border: 1px solid; */
     
     
     /* color: white; */
}

.header ul li:hover {
    transform: scale(1.1);
}



.header  ul li a{
     color: black;
     background-color: white;
     padding: 10px;
     border-radius: 50px;
     list-style: none;
     text-decoration: none;
     font-size: 20px;
     font-style: normal;
     font-weight: bold;
     padding-left: 30px;
     padding-right: 30px;
}

.compname h1{
    color: white;
    z-index: 1000;
    margin-left:20px;
}